{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="row">
      <section class="container">
        <form method="POST">{% csrf_token %}
            <div class="row">   
              <h3 class="red-text text-darken-2 center-align" >Desea eliminar el registro "{{form.nombre}}"</h3>             
            </div>

                      <div class="row">
                        <div class="center-align">
                          <div class="col col s7 offset-s2">
                          <button type="submit" class="save btn btn-default">Si, Eliminar</button>
                          <a class="btn btn-default" href="{%url 'vista_acciones'%}">No, cancelar</a>
                          </div>  
                        </div>
              </div>
           
            </form>
          </section>
          </div>

{% endblock %}