{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  {% include "head.html" %}
</head>

<style>
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
      
</style>
<body>
    {% include "nav.html" %}
    
  <div class="container">
    <main>
      <br><br>
        {% block content %}
        {% endblock %}
    </main>
  </div>


  
  {% include "footer.html" %}
  
  <!--  Scripts-->


  </body>
</html>
