{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="row">
    <h4 class="center-align"> Formulario</h4>
      <h5 class="center-align">CATÁLOGO</h5>
      <br>
      <section class="container">
        <form method="POST">{% csrf_token %}
            <div class="row">                
                <div class="input-field col s7 offset-s2">
                    <select name="categoria">
                        {% for i in forms %}
                            <option value="{{i.pk}}">{{i.nombre}}</option>
                        {% endfor %}
                    </select>
                    <label>Categoria</label>
                  </div>
                </div>
                <div class="row">                
                <div class="input-field col s7 offset-s2">
                    <input placeholder="" name="nombe" required id="nombe" type="text" class="validate" >
                    <label for="first_name">Nombre</label>
                    </div>
                    <div class="row">                
                    <div class="input-field col s7 offset-s2">
                        <input placeholder="" name="valor" checked id="valor" type="number" class="validate" >
                        <label for="first_name">Valor asignado</label>
                      </div>
                      <div class="row">
                        <div class="center-align">
                          <div class="col col s7 offset-s2">
                          <button type="submit" class="save btn btn-default">Guardar</button>
                          </div>  
                        </div>
              </div>
            </section>
            </form>
          </div>

{% endblock %}