{% extends 'base.html'%}
{% load static %}
{% block content %}

      <div class="row">
            <form method="POST" class="col s12">{% csrf_token %}
               {% for hidden in form.hidden_fields %}
                  {{hidden}}
                  {% endfor %}
               
              <div class="row">
                <h5>Categoria de Items</h5>
                <div class="input-field col s6">
                  <label>Ingresar Dato {{form.nombre}}</label> 
                  <br><br><br><br>
                     <p>
                           <label>
                             <input id="indeterminate-checkbox" type="checkbox" />
                             <span>Activo {{form.estado}}</span>
                           </label>
                         </p>
                         <button type="submit" class="save btn btn-default">Guardar</button>
                </div>
              </div>
            
            </form>
          </div>

{% endblock %}