{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="row">
    <h4 class="center-align"> Formulario</h4>
      <h5 class="center-align">CATEGORIA</h5>
      <br>
      <section class="container">
        <form method="POST">{% csrf_token %}
          <div class="row">                
            <div class="input-field col s7 offset-s2">
                <input placeholder="" name="nombre" required id="nombre" type="text" class="validate" >
                <label for="first_name">Ingresar Categoria</label>
                </div>
          <div class="row">
                <div class="input-field col s7 offset-s2">           
                    <p>
                      <label>
                          <input name="estado" required id="estado" type="checkbox" />
                          <span>Activo</span>
                      </label>
                    </p>
                    </div>
                    <div class="row">
                      <div class="center-align">
                        <div class="col col s7 offset-s2">
                        <button type="submit" class="save btn btn-default">Guardar</button>
                        </div>  
                      </div>
            </form>
          </section>
          </div>

{% endblock %}