{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="row">
        <div class="col s12">
          <div class="card blue lighten-1">
            <div class="card-content white-text">
              <span class="card-title"></span>
              <h4> Buenas Prácticas de Manufactura son una herramienta básica 
                para la obtención de productos seguros para el consumo humano, que se centralizan en la higiene y la forma de manipulación.</h4>
            </div>
          </div>
        </div>
      </div>
    
              </div>
    </a>
</div>
      
{% endblock %}
