{% load static %}
{% include 'head.html'%}

<body id=bodylogin>

<!-- Form Module-->
<div class="section"></div>
<main>
  <center>
    <div class="section"></div>

    <h3 class="indigo-text">BPM'S LAS VIOLETAS</h3>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form class="col s12" method="post">
                {% csrf_token %}
                
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='text' name='username' id='username' />
              <label for='username'>Nombre de usuario</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='password' name='password' id='password' />
              <label for='password'>Contraseña</label>
            </div>
          </div>

          <br />
          <center>
            <div class='row'>
              <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
            </div>
          </center>
        </form>
      </div>
    </div>
  </center>
 
  <div class="section"></div>
  <div class="section"></div>
</main>
{% include 'footer.html'%}
    {% if warning %}
    <script>
        M.toast({html: "{{warning}}" })
    </script>
    {% endif %}
</body>
