{% load static %}


<nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="{% static 'img/lv.png' %}" width="60 rem" style="padding-top: 0.2rem" alt=""></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{%url 'vista_acciones'%}">Empleados</a></li>
            <li><a href="">Control Cloro</a></li>
            <li><a href="">Control</a></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
          </ul>
          <ul id="nav-mobile" class="sidenav">
            <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i> Salir</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
     </div>
     
</nav>